<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "AweSome Post", root_url, class: "navbar-brand" %>
    </div>
    <ul class="nav navbar-nav">
      <li class="active">
        <%= link_to "Create Post", new_post_path %>
      </li>
      <li>
        <%= link_to "Another Page", "#" %>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li>
          <%= link_to "#" do %>
            <span class="glyphicon glyphicon-user"></span> <%= current_user.email %>
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :DELETE do %>
            <span class="glyphicon glyphicon-log-out"></span> Log Out
          <% end %>
        </li>
      <% else %>
        <li>
          <%= link_to new_user_registration_path do %>
            <span class="glyphicon glyphicon-user"></span> Sign Up
          <% end %>
        </li>
        <li>
          <%= link_to new_user_session_path do %>
            <span class="glyphicon glyphicon-log-in"></span> Log In
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
