<div class="container">
  <h2><%= @post.title %></h2>

  <table class="table">
    <tbody>
      <tr>
        <th>User</th>
        <td><%= @post.user.email %></td>
      </tr>
      <tr>
        <th>Content</th>
        <td><%= @post.content %></td>
      </tr>
    </tbody>
  </table>

  <div class="row">
    <% if @post.user == current_user %>
      <%= link_to edit_post_path(@post), class: "btn btn-warning" do %>
        <span class="glyphicon glyphicon glyphicon-pencil"></span> Edit Post
      <% end %>
      <%= link_to post_path(@post), method: :DELETE, class: "btn btn-danger" do %>
        <span class="glyphicon glyphicon glyphicon-trash"></span> Delete Post
      <% end %>
    <% end %>
  </div>
</div>
